.svgs_container {
  width: 100%;
  height: 100vh;
  background-color: #111;
  overflow: hidden;
  user-select: none;
  white-space: nowrap;
}

.svgs_container .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.383);
  font-size: 1.4rem;
  text-shadow: 1px 1px 10px rgba(238, 130, 238, 0.431);
}

.svgs_container .title h1 {
    background: -webkit-linear-gradient(0deg, #40E0D0, #09ff00, #FF0080);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (min-width: 767px) {
  .svgs_container .title {
    font-size: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .svgs_container .title {
    font-size: 3rem;
  }
}
