.search_result_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.each_result_anime {
  border: 1px solid rgb(68, 67, 67);
  box-shadow: 3px 3px 10px rgb(32, 32, 32);
  border-radius: 10px;
  width: 180px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.each_result_anime .result_img img{
  width: 100%;
  border-radius: 10px 10px 0 0;
}

@media (min-width: 767px) {
  .search_result_container {
    gap: 15px;
  }
  .each_result_anime {
    width: 250px;
  }
}
@media (min-width: 1025px) {
  .search_result_container {
    gap: 15px;
  }
  .each_result_anime {
    width: 300px;
  }
}
